body, h1, h2, h3, h4, p, ul, ol, li {
	margin: 0;
	font-family: 'Crimson Text', sans-serif;
}

body {
	min-height: 100vh;
	width: 1000px;
	margin: 0 auto;
	background-image: url("./img/bg.jpg");
}

* {
	box-sizing: border-box;
}

.header {
	background-color: black;
	height:100px;
	display: flex;
	align-items: center;
	justify-content: space-between; 
	padding: 0 20px;
}

.header__image {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__img {
	height: 80px;
}

.header__link {
	margin-left: 20px;
	color: salmon;
	text-decoration: none;
}

.annonce {
	height: 300px;
	background-image: url("./img/1.jpg");
	display: flex;
	align-items: flex-start;
	justify-content: space-between; 
	padding: 0 20px;
}

.annonce__date {
	font-family: 'PT Mono', monospace;
	margin-top: 40px;
	color: white;
}

.annonce__title {
	margin-top: 10px;
	color: white;
}

.annonce__nom {
	margin-top: 100px;
	width: 300px;
	color: white;
	border-bottom: 1px solid white;
}

.annonce__treiler {
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.annonce__img {
	height: 280px;
	width: 392px;
	background-image: url("./img/2.jpg");
	background-size: contain;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle {
	position: relative;
	width: 150px;
	height: 150px;
	border: 1.5px solid white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.circle__palka {
	position: absolute;
	height: 80px;
	width: 1.5px;
	background-color: white;
}

.circle__palka.-top {
	transform: rotate(120deg);
	top: 14px;
	left: 84px;
}

.circle__palka.-left {
	left: 50px;
}

.circle__palka.-bottom {
	transform: rotate(60deg);
	bottom: 14px;
	left: 84px;
}

.white {
	padding: 20px;
	background-color: white;
}

.info {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 10px 0;
	border-bottom: 1.5px solid black;
}

.info__left {
	margin-right: 100px;
}

.view {
	margin-bottom: 20px;
	padding-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1.5px solid black;
}

.view__view {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 5px;
	padding-bottom: 5px;
}

.time {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.time__value {
	margin-left: 20px;
	font-family: 'PT Mono', monospace;
}

.view__money {
	margin-left: 20px;
}

.rev__rev.-top {
	margin-top: 20px;
	border: 1.5px solid black;
	padding: 10px;
}

.rev__triangle {
	width: 0;
	height: 0;
	border-top: 15px solid black;
	border-left: 0px solid transparent;
	border-right: 20px solid transparent;
	margin-left: 20px;
	margin-bottom: 10px;
}

.rev__rev.-bot {
	margin-top: 20px;
	border-left: 3px solid red;
	padding-left: 10px;
	margin-bottom: 10px;
}

.rev__avtor {
	margin-bottom: 5px;
	font-family: 'PT Mono', monospace;
}

.rev__avtor_where {
	font-family: 'PT Mono', monospace;
}

.details__title {
	margin: 10px 0;
}

.details__details {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.question {
	margin-bottom: 5px;
}

.answer {
	margin-bottom: 5px;
}

.answer.-link {
	color: #00d4ff;
	text-decoration: none;
}

.actor__title, .actor {
	margin-bottom: 15px;
}

.spikers {
	border: 3px solid black;
	padding: 10px;
}

.spiker {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.spiker__img {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	margin-right: 15px;
	margin-top: 10px;
}

.spiker__surname {
	margin-top: 5px;
	margin-bottom: 15px;
}

.emojy {
	height: 70px;
	width: 130px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'Lato', sans-serif;
}

.emogy.-facebook, .emogy.-brainly {
	height: 30px;
	width: 30px;
	border: 0.5px solid black;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 0.5s;
}

.emogy.-facebook:hover {
	background-color: red;
	color: white;
	border: 0.5px solid red;
}

.emogy.-brainly:hover {
	background-color: #61d99e;
	color: white;
	border: 0.5px solid #61d99e;
}

.emogy.-twitter {
	height: 30px;
	width: 30px;
	background-image: url("./img/tw1.jpg");
	background-size: contain;
	border: 0.5px solid black;
	border-radius: 50%;
	display: flex;
	align-items: center;
	transition: 0.5s;
}

.emogy.-twitter:hover {
	background-image: url("./img/tw2.png");
	border: 0.5px solid #4dc8e8;
}

.addons {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.galery__img {
	height: 345px;
	width: 440px;
	background-image: url("./img/gal.jpg");
	background-size: contain;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	box-shadow: 0px 0px 30px 20px black inset;
	margin-top: 20px;
}

.galery__arrow {
	font-size: 100px;
	color: white;
}

.press {
	display: flex;
	flex-flow: column;
}

.press__title {
	margin-bottom: 20px;
}

.press__link {
	color: black;
	text-decoration: none;
	font-size: 20px;
	margin-bottom: 10px;
}

.press__link.-a:hover {
	color: #8b00c6;
}

.press__link.-b:hover {
	color: #e9f03a;
}

.press__link.-c:hover {
	color: #00d4ff;
}

.press__link.-d:hover {
	color: #c60000;
}

.press__link.-e:hover {
	color: #ffa30e;
}

.press__link.-f:hover {
	color: #00c603;
}

.press__link.-g:hover {
	color: #3af061;
}

.press__link.-h:hover {
	color: #5b3af0;
}

.black {
	padding: 20px;
	background-color: black;
}

.event {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 334px;
}

.event__title {
	color: white;
}

.event__title.-hov:hover {
	color: red;
}

.recardo {
	height: 300px;
	width: 500px;
	background-image: url("./img/rec.PNG");
	background-size: contain;
	margin-top: 20px;
	padding: 10px;
}

.recardo__date {
	margin-top: 180px;
	font-family: 'PT Mono', monospace;
}

.recardo__title {
	margin-bottom: 10px;
}

.photo {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.tech {
	height: 300px;
	width: 300px;
	background-image: url("./img/tech.jpg");
	background-size: contain;
	margin-top: 20px;
	color: white;
}

.tech__nom {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 39px;
	background-color: #00d4ff;
}

.tech__date {
	margin-top: 170px;
	margin-left: 10px;
	font-family: 'PT Mono', monospace;
}

.tech__title {
	margin-left: 10px;
	margin-bottom: 10px;
}

.tech__que {
	margin-left: 10px;
}

.timetable {
	color: #a4a4a4;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #a4a4a4;
	height: 50px;
	width: 100%;
	margin-top: 20px;
}

.timetable__title {
	font-size: 15px;
}

.timetable__arrow {
	font-size: 50px;
	margin-left: 100px;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #a4a4a4;
	height: 100px;
}

.footer__parthers, .footer__emojy, .footer__desc {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__img {
	height: 90px;
	margin-right: 10px;
}

.footer__emogy {
	height: 40px;
	width: 40px;
	border: 2px solid #a4a4a4;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
	color: white;
}

.footer__emogy.-instagram {
	position: relative;
}

.camera {
	position: absolute;
	width: 25px;
	height: 25px;
	border: 2px solid white;
	border-radius: 6px;
}

.camera__lens {
	position: absolute;
	width: 15px;
	height: 15px;
	border: 2px solid white;
	border-radius: 50%;
	bottom: 2px;
	left: 50%;
	transform: translateX(-50%);
}

.camera__flash {
	position: absolute;
	border: 2px solid white;
	border-radius: 50%;
	right: 2px;
	top: 2px;
}

.footer__age {
	margin-left: 20px;
}