.details__title {
	margin: 10px 0;
}

.details__details {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

}

.detail {
	width: 470px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	text-align: left;
}

.question {
	margin-bottom: 5px;
	width: 154px;
}

.answer {
	margin-bottom: 5px;
	width: 302px;
}

.answer.-link {
	color: #00d4ff;
	text-decoration: none;
}

.actor__title, .actor {
	margin-bottom: 15px;
}